<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="fonts/icomoon/style.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="css/style.css">

    <title>Website Menu #4</title>
  </head>
  <body>


    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>


      <div class="top-bar">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <a href="#" class=""><span class="mr-2  icon-envelope-open-o"></span> <span class="d-none d-md-inline-block">info@yourdomain.com</span></a>
              <span class="mx-md-2 d-inline-block"></span>
              <a href="#" class=""><span class="mr-2  icon-phone"></span> <span class="d-none d-md-inline-block">1+ (234) 5678 9101</span></a>


              <div class="float-right">

                <a href="#" class=""><span class="mr-2  icon-twitter"></span> <span class="d-none d-md-inline-block">Twitter</span></a>
                <span class="mx-md-2 d-inline-block"></span>
                <a href="#" class=""><span class="mr-2  icon-facebook"></span> <span class="d-none d-md-inline-block">Facebook</span></a>

              </div>

            </div>

          </div>

        </div>
      </div>

      <header class="site-navbar js-sticky-header site-navbar-target" role="banner">

        <div class="container">
          <div class="row align-items-center position-relative">


            <div class="site-logo">
             
              <a href="index.html" class="text-black"><span class="text-danger">SOMALIA - FISTULA</a>
            </div>

            <div class="col-12">
              <nav class="site-navigation text-right ml-auto " role="navigation">

                <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                  <li><a href="#home-section" class="nav-link">Home</a></li>
                  <li><a href="#services-section" class="nav-link">Services</a></li>


                  <li class="has-children">
                    <a href="#about-section" class="nav-link">About Us</a>
                    <ul class="dropdown arrow-top">
                      <li><a href="#team-section" class="nav-link">Team</a></li>
                      <li><a href="#pricing-section" class="nav-link">Pricing</a></li>
                      <li><a href="#faq-section" class="nav-link">FAQ</a></li>
                      <li class="has-children">
                        <a href="#">More Links</a>
                        <ul class="dropdown">
                          <li><a href="#">Menu One</a></li>
                          <li><a href="#">Menu Two</a></li>
                          <li><a href="#">Menu Three</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <li><a href="#why-us-section" class="nav-link">Why Us</a></li>

                  <li><a href="#testimonials-section" class="nav-link">Testimonials</a></li>
                  <li><a href="#blog-section" class="nav-link">Blog</a></li>
                  <li><a href="#contact-section" class="nav-link">Contact</a></li>
                </ul>





              </nav>

 

            </div>

            <div class="toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

       
</div>

  <nav data-v-f3efe360="" class="flex flex-wrap items-start justify-between bg-white px-5 py-2"><div data-v-f3efe360="" class="flex flex-row justify-content-center items-center w-full md:w-auto"><img data-v-f3efe360="" src="Covid-19%20Registry_files/kenya_emblem.png" alt="Ministry Of Health Kenya" class="md:mr-2 sm:mb-0 w-11 "><div data-v-f3efe360="" class="flex flex-row md:justify-content-between justify-content-center md:mt-2 bg-red md:mt-0 md:ml-0 ml-2 mt-2 md:mt-4">
<p data-v-f3efe360="" class="font-bold text-black md:border-r-2 md:border-gray-700 inline-block align-baseline md:pr-1 mb-2 xs:mb-2 text-center">Chanjo Kenya</p><p data-v-f3efe360="" class="hidden md:block ml-1 md:ml-4 text-black text-center">Ministry Of Health</p></div></div><div data-v-f3efe360="" class="flex flex-row justify-content-center w-full md:hidden">
<span data-v-f3efe360="" class="pt-2 text-center "> For support contact: <span data-v-f3efe360="" class="text-primary">chanjo@health.go.ke</span></span></div><div data-v-f3efe360="" class="flex flex-row space-x-6"><span data-v-f3efe360="" class="pt-2 text-center hidden md:block"> For support contact: <span data-v-f3efe360="" class="text-primary">chanjo@health.go.ke</span></span><a data-v-f3efe360="" href="https://portal.health.go.ke/register" class="toggle hidden md:flex w-full md:w-auto px-4 py-2 text-right bg-persian-blue hover:persian-blue-200
       text-white md:rounded items-center"> Create Account </a><a data-v-f3efe360="" href="https://portal.health.go.ke/login" class="toggle hidden md:flex w-full md:w-auto px-4 py-2 text-right bg-white hover:persian-blue-100
      text-persian-blue font-bold md:rounded border-persian-blue border-2 items-center"> Sign In </a></div></nav>   


<div data-v-f3efe360="" class="space-y-8 bg-smalt landingTopBarBg "><div data-v-f3efe360="" class="flex flex-col py-4 md:py-5 items-center space-y-4"><p data-v-f3efe360="" class="text-white text-capitalize text-xl md:text-2xl font-bold md:m-0 mx-4 text-center"> PHYSICIANS ACROSS CONTINENTS::SOMALIA FISTULA PORTAL </p><div data-v-f3efe360="" class="bg-white p-8 text-center rounded-sm md:m-0 mx-4"><p data-v-f3efe360="" class="text-gray-500 text-lg md:text-xl md:leading-tight"> This portal is purposely developed for use by all healthcare institutions dealing with FISTULA in Somalia. It enables institutions to register, refer and book patients for Fistula treatment.The portal has required security controls to protect patients data. The portal will as provide new, information and statistical reporting on Fistula. </p><p data-v-f3efe360="" class="text-gray-500 text-lg md:text-xl md:leading-tight">  </p></div><div data-v-f3efe360="" class="md:hidden flex w-full space-x-3 px-4 justify-center"><a data-v-f3efe360="" href="https://portal.health.go.ke/register" class="flex justify-center py-2 text-center w-full bg-white text-persian-blue-800 hover:persian-blue-200
        rounded-sm "> Create Account </a><a data-v-f3efe360="" href="https://portal.health.go.ke/login" class="flex justify-center py-2 text-center w-full rounded-sm hover:persian-blue-100
        text-white font-bold rounded border-2 "> Sign In </a></div></div></div><section data-v-f3efe360="" class="text-gray-600 body-font landingMiddleBarBg"><div data-v-f3efe360="" class="container px-0 py-12 mx-auto"><div data-v-f3efe360="" class="flex flex-wrap w-full mb-8 flex-col items-center text-center">

<h1> NEWS</h1>


<h1 data-v-f3efe360="" class="sm:text-3xl text-2xl font-medium mb-2 text-gray-900">Services you can access on the Portal:</h1></div><div data-v-f3efe360="" class="flex flex-wrap -m-4"><div data-v-f3efe360="" class="xl:w-1/3 md:w-1/2 p-4 "><div data-v-f3efe360="" class="border border-gray-200 p-6 rounded-lg bg-white"><div data-v-f3efe360="" class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"><svg data-v-f3efe360="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path data-v-f3efe360="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z"></path></svg></div><h2 data-v-f3efe360="" class="text-lg text-gray-900 font-medium title-font mb-2">Register For Vaccination</h2><p data-v-f3efe360="" class="leading-relaxed text-base">You can register for vaccination by filling in your personal information</p></div></div><div data-v-f3efe360="" class="xl:w-1/3 md:w-1/2 p-4"><div data-v-f3efe360="" class="border border-gray-200 p-6 rounded-lg bg-white"><div data-v-f3efe360="" class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"><svg data-v-f3efe360="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path data-v-f3efe360="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"></path></svg></div><h2 data-v-f3efe360="" class="text-lg text-gray-900 font-medium title-font mb-2 capitalize">View Your Vaccination schedule</h2><p data-v-f3efe360="" class="leading-relaxed text-base">Once you get your first dose, you will be able to view the date for your next vaccination</p></div></div><div data-v-f3efe360="" class="xl:w-1/3 md:w-1/2 p-4"><div data-v-f3efe360="" class="border border-gray-200 p-6 rounded-lg bg-white"><div data-v-f3efe360="" class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"><svg data-v-f3efe360="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path data-v-f3efe360="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 10v6m0 0l-3-3m3 3l3-3m2 8H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z"></path></svg></div><h2 data-v-f3efe360="" class="text-lg text-gray-900 font-medium title-font mb-2 capitalize">Download your Covid-19 Vaccination Certificate</h2><p data-v-f3efe360="" class="leading-relaxed text-base">Once you have been vaccinated, you can download and scan your Kenya Covid-19 Vaccination Certificate</p></div></div><div data-v-f3efe360="" class="xl:w-1/3 md:w-1/2 p-4"><div data-v-f3efe360="" class="border border-gray-200 p-6 rounded-lg bg-white"><div data-v-f3efe360="" class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"><svg data-v-f3efe360="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path data-v-f3efe360="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H5a2 2 0 00-2 2v9a2 2 0 002 2h14a2 2 0 002-2V8a2 2 0 00-2-2h-5m-4 0V5a2 2 0 114 0v1m-4 0a2 2 0 104 0m-5 8a2 2 0 100-4 2 2 0 000 4zm0 0c1.306 0 2.417.835 2.83 2M9 14a3.001 3.001 0 00-2.83 2M15 11h3m-3 4h2"></path></svg></div><h2 data-v-f3efe360="" class="text-lg text-gray-900 font-medium title-font mb-2 capitalize">View your Covid-19 Registration information</h2><p data-v-f3efe360="" class="leading-relaxed text-base">The
 Kenya Covid-19 Vaccination Portal allows you to view details such as 
date of birth, identification information and contact information</p></div></div><div data-v-f3efe360="" class="xl:w-1/3 md:w-1/2 p-4"><div data-v-f3efe360="" class="border border-gray-200 p-6 rounded-lg bg-white"><div data-v-f3efe360="" class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"><svg data-v-f3efe360="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path data-v-f3efe360="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z"></path></svg></div><h2 data-v-f3efe360="" class="text-lg text-gray-900 font-medium title-font mb-2">Update your Covid-19 Registration information</h2><p data-v-f3efe360="" class="leading-relaxed text-base">The Kenya Covid-19 Vaccination Portal allows you to add more identification information.</p></div></div><div data-v-f3efe360="" class="xl:w-1/3 md:w-1/2 p-4"><div data-v-f3efe360="" class="border border-gray-200 p-6 rounded-lg bg-white"><div data-v-f3efe360="" class="w-10 h-10 inline-flex items-center justify-center rounded-full bg-indigo-100 text-indigo-500 mb-4"><svg data-v-f3efe360="" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path data-v-f3efe360="" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7"></path></svg></div><h2 data-v-f3efe360="" class="text-lg text-gray-900 font-medium title-font mb-2">Verify Your Kenya Covid-19 Vaccination Certificate</h2><p data-v-f3efe360="" class="leading-relaxed text-base">To verify your Kenya Covid-19 Certificate, scan the QR code provided on the certificate.</p></div></div></div><div data-v-f3efe360="" class="flex w-full space-x-3 px-4 mt-4 justify-center"><a data-v-f3efe360="" href="https://portal.health.go.ke/register" class="flex justify-center py-2 text-center w-full bg-persian-blue text-white hover:persian-blue-200
        rounded-sm "> Create Account </a><a data-v-f3efe360="" href="https://portal.health.go.ke/login" class="flex justify-center py-2 text-center w-full rounded-sm hover:persian-blue-100
        text-persian-blue font-bold rounded border-2 border-persian-blue "> Sign In </a></div></div></section><div data-v-5c849fae="" data-v-f3efe360=""><section data-v-5c849fae="" class="flex flex-wrap py-3 md:p-5 bg-white"><div data-v-5c849fae="" class="container-fluid text-center text-smalt mb-3"><p data-v-5c849fae="" class="font-bold font-22 pt-3"> Vaccinating Facilities </p></div><div data-v-5c849fae="" class="container grid grid-cols-1 md:grid-cols-4 gap-1"><div data-v-5c849fae="" class="w-full px-3 mb-6 md:mb-0"><label data-v-5c849fae="" for="grid-state" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"> Filter By County </label><div data-v-5c849fae="" class="relative"><select data-v-5c849fae="" id="grid-county" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"><option data-v-5c849fae="" value="default" selected="selected">Select County</option><option data-v-5c849fae="" value="1"> Baringo County </option><option data-v-5c849fae="" value="2"> Bomet County </option><option data-v-5c849fae="" value="3"> Bungoma County </option><option data-v-5c849fae="" value="4"> Busia County </option><option data-v-5c849fae="" value="5"> Elgeyo Marakwet County </option><option data-v-5c849fae="" value="6"> Embu County </option><option data-v-5c849fae="" value="7"> Garissa County </option><option data-v-5c849fae="" value="8"> Homa Bay County </option><option data-v-5c849fae="" value="9"> Isiolo County </option><option data-v-5c849fae="" value="10"> Kajiado County </option><option data-v-5c849fae="" value="11"> Kakamega County </option><option data-v-5c849fae="" value="12"> Kericho County </option><option data-v-5c849fae="" value="13"> Kiambu County </option><option data-v-5c849fae="" value="14"> Kilifi County </option><option data-v-5c849fae="" value="15"> Kirinyaga County </option><option data-v-5c849fae="" value="16"> Kisii County </option><option data-v-5c849fae="" value="17"> Kisumu County </option><option data-v-5c849fae="" value="18"> Kitui County </option><option data-v-5c849fae="" value="19"> Kwale County </option><option data-v-5c849fae="" value="20"> Laikipia County </option><option data-v-5c849fae="" value="21"> Lamu County </option><option data-v-5c849fae="" value="22"> Machakos County </option><option data-v-5c849fae="" value="23"> Makueni County </option><option data-v-5c849fae="" value="24"> Mandera County </option><option data-v-5c849fae="" value="25"> Marsabit County </option><option data-v-5c849fae="" value="26"> Meru County </option><option data-v-5c849fae="" value="27"> Migori County </option><option data-v-5c849fae="" value="28"> Mombasa County </option><option data-v-5c849fae="" value="29"> Muranga County </option><option data-v-5c849fae="" value="30"> Nairobi County </option><option data-v-5c849fae="" value="31"> Nakuru County </option><option data-v-5c849fae="" value="32"> Nandi County </option><option data-v-5c849fae="" value="33"> Narok County </option><option data-v-5c849fae="" value="34"> Nyamira County </option><option data-v-5c849fae="" value="35"> Nyandarua County </option><option data-v-5c849fae="" value="36"> Nyeri County </option><option data-v-5c849fae="" value="37"> Samburu County </option><option data-v-5c849fae="" value="38"> Siaya County </option><option data-v-5c849fae="" value="39"> Taita Taveta County </option><option data-v-5c849fae="" value="40"> Tana River County </option><option data-v-5c849fae="" value="41"> Tharaka Nithi County </option><option data-v-5c849fae="" value="42"> Trans Nzoia County </option><option data-v-5c849fae="" value="43"> Turkana County </option><option data-v-5c849fae="" value="44"> Uasin Gishu County </option><option data-v-5c849fae="" value="45"> Vihiga County </option><option data-v-5c849fae="" value="46"> Wajir County </option><option data-v-5c849fae="" value="47"> West Pokot County </option></select><div data-v-5c849fae="" class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"><svg data-v-5c849fae="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-4 w-4"><path data-v-5c849fae="" d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg></div></div></div><div data-v-5c849fae="" class="w-full px-3 mb-6 md:mb-0"><label data-v-5c849fae="" for="grid-state" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"> Filter by Subcounty </label><div data-v-5c849fae="" class="relative"><select data-v-5c849fae="" id="grid-subcounty" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"><option data-v-5c849fae="" value="default" selected="selected">Select Subcounty</option></select><div data-v-5c849fae="" class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"><svg data-v-5c849fae="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-4 w-4"><path data-v-5c849fae="" d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg></div></div></div><div data-v-5c849fae="" class="w-full px-3 mb-6 md:mb-0"><label data-v-5c849fae="" for="grid-state" class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"> Filter By Ward </label><div data-v-5c849fae="" class="relative"><select data-v-5c849fae="" id="grid-ward" class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"><option data-v-5c849fae="" value="default" selected="selected">Select Ward</option></select><div data-v-5c849fae="" class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"><svg data-v-5c849fae="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="fill-current h-4 w-4"><path data-v-5c849fae="" d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg></div></div></div><button data-v-5c849fae="" disabled="disabled" class="disabled:opacity-50 md:h-13 md:mt-4 md:flex w-full md:w-auto px-4 py-2 text-center bg-persian-blue hover:persian-blue-200
       text-white md:rounded items-center"> View Facilities </button><!----><!----></div></section><section data-v-5dd32a92="" data-v-5c849fae="" class="bg-white"><div data-v-5dd32a92="" class="container mx-auto px-4 sm:px-8"><div data-v-5dd32a92="" class="py-8"><div data-v-5dd32a92="" class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto"><div data-v-5dd32a92="" class="inline-block min-w-full shadow rounded-lg overflow-hidden"><table data-v-5dd32a92="" class="min-w-full leading-normal"><tbody data-v-5dd32a92=""><tr data-v-5dd32a92=""><td data-v-5dd32a92="" class="px-5 py-5 border-b border-gray-200 bg-white text-sm w-2/5"><p data-v-5dd32a92="" class="text-gray-900 whitespace-no-wrap text-center text-2xl"><span data-v-5dd32a92=""> Select a Ward to show vaccinating facilities </span><!----></p></td></tr></tbody></table></div></div></div></div></section></div><section data-v-f3efe360="" class="flex flex-col py-4 items-center bg-smalt "><p data-v-f3efe360="" class="font-bold font-22 text-white"> Frequently Asked Questions </p><div data-v-f3efe360="" class="flex flex-col items-center mt-4 w-full "><div data-v-f3efe360="" class="w-11/12 rounded-md border-2 flex flex-col hover:shadow-lg p-4 md:mr-5 justify-start"><div data-v-f3efe360="" class="grid grid-cols-4 flex justify-between items-center"><p data-v-f3efe360="" class="font-bold font-18 text-white col-span-3"> Can I Register For Vaccination? </p><div data-v-f3efe360="" class="col-span-1  flex justify-end items-center"><div data-v-f3efe360="" class="rounded-full h-10 w-10 flex items-center  justify-center border border-gray-800 bg-red-100"><i data-v-f3efe360="" class="feather font-24  icon-minus text-red-300"></i></div></div></div><p data-v-f3efe360="" class="text-white block"> It is possible to use this portal for registration before actual Vaccination </p></div></div><div data-v-f3efe360="" class="flex flex-col items-center mt-4 w-full "><div data-v-f3efe360="" class="w-11/12 rounded-md border-2 flex flex-col hover:shadow-lg p-4 md:mr-5 justify-start"><div data-v-f3efe360="" class="grid grid-cols-4 flex justify-between"><p data-v-f3efe360="" class="font-bold font-18 text-white capitalize col-span-3 "> How Can I get my vaccination certificate ? </p><div data-v-f3efe360="" class="col-span-1  flex justify-end items-center"><div data-v-f3efe360="" class="rounded-full h-10 w-10 flex items-center  justify-center border border-gray-800 bg-blue-100"><i data-v-f3efe360="" class="feather font-24  icon-plus text-blue-300"></i></div></div></div><p data-v-f3efe360="" class="text-white d-none"> Once you have been vaccinated, your certificate will be available in the portal for download in pdf format. </p></div></div><div data-v-f3efe360="" class="flex flex-col items-center mt-4 w-full "><div data-v-f3efe360="" class="w-11/12 rounded-md border-2 flex flex-col hover:shadow-lg p-4 md:mr-5 justify-start"><div data-v-f3efe360="" class="grid grid-cols-4 flex justify-between items-center"><p data-v-f3efe360="" class="font-bold font-18 text-white col-span-3"> I was vaccinated but I can't see my certificate </p><div data-v-f3efe360="" class="col-span-1 flex justify-end items-center"><div data-v-f3efe360="" class="rounded-full h-10 w-10 flex items-center  justify-center border border-gray-800 bg-blue-100"><i data-v-f3efe360="" class="feather font-24  icon-plus text-blue-300"></i></div></div></div><p data-v-f3efe360="" class="text-white d-none"> Confirm with the facility where you were vaccinated that your details were input correctly. </p></div></div></section><footer data-v-f3efe360="" class="bottom-0 bg-white h-20 flex flex-col items-center justify-content-center"><img data-v-f3efe360="" alt="logo" src="Covid-19%20Registry_files/mohlogo.png" class="img-fluid w-12 mt-3"><div data-v-f3efe360="" class="flex flex-row justify-content-between"><p data-v-f3efe360="" class="pt-2 text-sm font-medium leading-tight text-dark">© 2021 Ministry Of Health</p></div></footer></div></div></div><script src="Covid-19%20Registry_files/chunk-vendors.js"></script><script src="Covid-19%20Registry_files/app.js"></script>



       </div> 

      </header>

    <div class="hero" style="background-image: url('images/hero_1.jpg');"></div>
  

<script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script>


 

  </body>
</html>
